@import url('https://fonts.google.com/specimen/Caladea');
@import url('https://fonts.google.com/specimen/Merriweather');
@font-face {
    font-family: 'Lastica';
    src: url(fonts/FontsFree-Net-Lastica.ttf);
    font-family: 'CalmiusSans';
    src: url(fonts/CalmiusSans-Oppo.otf);
}

*{
    background: rgb(97,7,83);
    background: linear-gradient(140deg, rgba(97,7,83,1) 0%, rgba(44,30,74,1) 37%, rgba(42,29,72,1) 81%, rgba(52,30,77,1) 97%, rgba(2,0,36,1) 99%);
    background-attachment: fixed;
    margin: 0px;
    padding:0px;
    color:white;
    box-sizing: border-box;
}

/* navigation bar  */

.child1 {
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

a:hover{
    text-shadow: 1px 1px 7px white;
    font-size: large;
}

/* Styling for dropdown button - so that there is no dropdown when screen is big */
.dropdown {
    display: none;
}


/* 1st Page main content*/

.container{
     display: flex;
     padding: 30px;
     justify-content: space-around;
     
}

/* css for name and title */

.right{          
    padding:100px;
}

.right h1{   /* css for name */
    font-size: 100px;
    font-family: Lastica;
    width: 50px;
}

.right h2{      /* css for title */
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
}

.left img{       /* css for image */
    height:500px;
    padding-top: 40px;
}

.social{
    padding-left:300px;
}


nav.social a:hover{

    box-shadow: 1px 1px 7px pink;
    max-height: fit-content;   
}

.seneca{
    margin:15px;

}

.logo{
    margin:15px;
}

.x{ 
    margin:15px;
}

.ln{
    margin:15px;
}

/* about me page */
.container1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-wrap: wrap;
    margin:10px;
    border: 2px solid black;
    /* margin-bottom: -200px; */
}

div > p{     /*description text*/
    margin:50px;
    padding: 50px;
    width: 800px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
 
.head1{        /*description title - about me*/
    font-family:'Caladea';
    font-size: 100px;
    padding: 50px;
    margin:50px;
}

/* tech stack  */

/*

.s8{
border: 2px solid red;
padding: 6px;
margin: 6px;
}

.s9{
border: 2px solid red;
padding: 25px;
margin: 6px;
}

.s10{
border: 2px solid red;
padding: 25px;
margin: 6px;
}

.s11{
border: 2px solid red;
padding: 25px;
margin: 6px;
}

.s12{
border: 2px solid red;
padding: 6px;
margin: 6px;
}

.s13{
border: 2px solid red;
padding: 25px;
margin: 6px;
}

.s14{
border: 2px solid red;
padding: 25px;
margin: 6px;
}

.s15{
    border: 2px solid white;
    margin: 0px;
    width:100%; 
} */

.stack{
    border: 2px solid blue;
    margin:10px;
    padding:10px;
    text-align: center;
}

.stack > h1{
    padding:10px;

}

 /* css3 */
.s1{
    width:10%;
    font-size: 20px;
    /* display:inline-block; */
    border: 2px solid white;
    margin-left:20px;
    margin-top: 20px;
}

/* nextjs */

.s2{
    width:10%;
    font-size: 20px;
    /* display:inline-block; */
    border: 2px solid white;
    margin-left:150px;
    margin-top: -100px;
}

/* python */

.s3{
    width:10%;
    font-size: 20px;
   border: 2px solid white;
   margin-left:10px;
   margin-top: 200px;
}

/* git github */
.s4{
    width:10%;
    font-size: 20px;
border: 2px solid white;

margin-left:400px;
margin-top: 10px;
    }

    /* html  */
    
    .s5{
        width:10%;
        font-size: 20px;
border: 2px solid white;
margin-left:250px;
margin-top: 150px;
    }
    
    /* c lang  */
    .s6{
        width:10%;
        font-size: 20px;
border: 2px solid white;
margin-left:700px;
margin-top: 10px;
    }

    /* tailwind css  */
    
    .s7{
        width:10%;
        font-size: 20px;
 border: 2px solid white;
 margin-left:500px;
 margin-top: -160px;
    }

    /* tech stack  */

.s8{
    border: 2px solid pink;
    width: 45%;
       font-size: 85px; 
       font-family:'Merriweather';
       margin-left: 30%;
       margin-top: 5%;
}

/* all media queries */

@media only screen and (max-width: 600px) {
    
    /* for navbar */
    
    .child1{
        display:none;
    }
    .dropbtn{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height:50px; 

    }
    .parent {
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        display: block;
        position: relative;
        margin: 50px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

/* first page */





/*
For mobile phones:
[class*="col-"] {
    width: 100%;
  } */
  
  /* @media only screen and (min-width: 600px) {
    /* For tablets: 
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  } */


}